@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Raleway:wght@100;300&display=swap');
/*General styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #5A5766;
}
/*Entire page Container*/
.container {
    background-color: #5A5766;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*Page header (topbar)*/
header {
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 75px;
    text-align: center;
    margin-bottom: 10px;
}
/*Titulo da topbar*/
#titulo_header {
    color: #e3daff;
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding-top: 30px;
}
/*Navigation hyperlinks*/
header a{
    margin: 30px;
    color: #E3DAFF;
    text-decoration: none;
}
a:hover{
    color:#C589E8;
    cursor: pointer;
}

/* div com as 2 listas de tarefa (urgente+bom fazer)*/
.container .listas {
    display: flex;
    /*background-color: white;*/
    width: 90%;
    max-width: 1061px;
    margin-top: 80px; 
    margin-left: auto;
    margin-right: auto; 
    padding-left: auto;
}

/*URGENTE e BOM FAZER*/
.titulo_lista{
    color: #e3daff;
    font-size: 32px;
}

/*div para a lista de urgente*/
.listas .urgente {
    /*background-color: red;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Linha de divisão*/
.listas .line{
    border-left: 3px solid #ECFFF8;
    height: 580px;
    left: 960px;
    top: 843px;
    border-radius: 3px;
}
/*div para a lista bom fazer*/
.listas .bomfazer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Elementos gerais*/
.lista_atividade{
    padding: 23px;
    min-height: 550px;
    max-height: 550px;
    min-width: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.lista_atividade::-webkit-scrollbar{
    display: none;
}


.atividade_em_dia_container{
    padding: 23px;
    background-color: #C589E8;
    border-radius: 17px;
    width: 403px;
    height: 87px;
    display: flex;
    align-items: center;
    margin: 23px;
}
.atividade_atrasada_container{
    padding: 23px;
    background-color: #F10000;
    border-radius: 17px;
    width: 403px;
    height: 87px;
    display: flex;
    align-items: center;
    margin: 23px ;
}

.activity_text{
    width: 290px;
}

.unchecked{

    width: 50px; 
    height: 50px; 
    background-image: url('unchecked.png'); 
    background-size: cover; 

}

/*Dentro de lista atividade*/
ul li{
    list-style: none;
    user-select: none;
    cursor: pointer;
}

h3{
    font-size: 27px;
    color: #ffff;
}
span{
    font-size: 15px;
    color: #ffff;
}

.dragging{
    opacity: 0.5;
}



@media only screen and (max-width: 970px) {
    .listas {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .urgente{
        margin-bottom: -250px;
    }
    .line{
        transform: rotate(90deg);
        height: 300px;
    }
    .titulo_lista{
        font-size: 18px;
    }
    .header{
        width: 90%;
    }
    #titulo_header {
        font-size: 20px;
        margin: auto;
        padding-top: 5px;
    }
    .bomfazer{
        margin: -250px;
    }
    a{
        margin: 5px;
        font-size: 15px;
    }

}




