// mirage.config.js
import { createServer } from 'miragejs';

export default function makeServer() {
  createServer({
    routes() {
      this.namespace = 'api';

      this.get('/todos', () => {
        return [
          { id: 1, text: 'Learn MirageJS', done: false },
          { id: 2, text: 'Integrate with Next.js', done: true },
        ];
      });
    },
  });
}
